body {
    height: 100%;
    width: 100%;
    background: url('/Front/recursos/6690897_2352.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    animation: movimiento 60s infinite linear alternate;
    background-attachment: fixed;

}

@keyframes colores {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes color-letras {
    0% { color: rgb(231, 76, 60); }
    50% { color: rgb(241, 196, 15); }
    100% { color: rgb(46, 204, 113); }
}

@keyframes movimiento{
 0%{
     background-position: bottom left;

 }
 25%{
     background-position: top right;
 }

 50%{
background-position: bottom right;
 }

 75%{
     background-position: top left ;
 }

 100%{
     background-position: bottom left ;
 }
}


.caja-trasera {
    display: flex;
    position: absolute;
    right: 30%;
    bottom: 20%;
    
    
}

.play{
    display: flex;
    position: absolute;
    width: auto;
    height: 15%;
    right: 45%;
    top: 45%;
}

.flecha{
    display: flex;
    position: absolute;
    width: auto;
    height: 10%;
    right: 93%;
    top: 2%;
}

.logo{
    display: flex;
    position: absolute;
    width: auto;
    height: 20%;
    right: 2%;
    top: 2%;
    
}

.alfa-slab one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #perdiste {
    font-size: 50px;
    color: white;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    position: absolute;
    right: 43%;
    top: 20%;
    width: auto; 
    height: 10%;   
}

#score {
    font-size: 34px;
    color: white;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    position: absolute;
    right: 43%;
    top: 37%;
    width: auto; 
    height: 10%;   
}