body {
    height: 100vh;
    width: 100vw;
    background: url('/Front/recursos/6690897_2352.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    animation: movimiento 60s infinite linear alternate;
    background-attachment: fixed;

}

@keyframes colores {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes color-letras {
    0% { color: rgb(231, 76, 60); }
    50% { color: rgb(241, 196, 15); }
    100% { color: rgb(46, 204, 113); }
}

@keyframes movimiento{
 0%{
     background-position: bottom left;

 }
 25%{
     background-position: top right;
 }

 50%{
background-position: bottom right;
 }

 75%{
     background-position: top left ;
 }

 100%{
     background-position: bottom left ;
 }
}

.caja-trasera {
    display: flex;
    position: absolute;
    right: 375px;
    bottom: 80px;
    
    
}

.letra{  
    display: flex;
    position: absolute;
    right: 500px;
    top: 70px;   
}

.Rank{
    display: flex;
    position: absolute;
    right: 800px;
    bottom: 350px;
}

.jugador{
    display: flex;
    position: absolute;
    right: 570px;
    bottom: 350px;
}

.puntos{
    display: flex;
    position: absolute;
    right: 400px;
    bottom: 350px;
}

.flecha{
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
}

.alfa-slab one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  